<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.jb.cdjj.email.kknd713.entity.MailUser" alias="mailUser"/>
		<typeAlias type="com.jb.cdjj.email.kknd713.entity.Branch" alias="branch"/>
		<typeAlias type="com.jb.cdjj.email.kknd713.entity.Position" alias="position"/>
		<typeAlias type="com.jb.cdjj.email.kknd713.entity.Department" alias="department"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/jb/cdjj/email/kknd713/dao/mapper/BranchDaoMapper.xml" />
		<mapper resource="com/jb/cdjj/email/kknd713/dao/mapper/DepartmentDaoMapper.xml" />
		<mapper resource="com/jb/cdjj/email/kknd713/dao/mapper/PositionDaoMapper.xml" />
		<mapper resource="com/jb/cdjj/email/kknd713/dao/mapper/MailUserDaoMapper.xml" />
	</mappers>
</configuration>